**doc
**target*
**.idea/
*.dockerignore
**.local
**.git
audit/
.vscode/
.github/
launch/
evm-bench
evm-tests
ts-tests
.github
.gitignore
.gitlab-ci.yml
.rustfmt.toml
**/.maintain*
**/target*
**/*.rs.bk
*.iml
.vscode
.editorconfig
docker-compose.yml
*Dockerfile
.dockerignore